/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* debug
    border: 1px solid black; */
}

img{
    max-width: 100%;
}

/* COMMON */

.container{
    margin: 0 auto;
}

.center{
    text-align: center;
}

.btn{
    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.btn-dx{
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

/* CALC */

.calc{
    background-color: #E9E3E3;
    width: 500px;
    margin-top: 40px;
    border-radius: 20px;
}

/* HEADER */
.header-logo, .main-calc{
    padding: 20px;
}

/* DISPLAY */
.display{
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.text-display{
    font-family: 'Seven Segment', sans-serif;
    color: #0FBB5F;
    font-size: 68px;
    padding: 20px;
}


/* MAIN-CALC */

.calc-sx{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.calc-dx{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-calc{
    display: flex;
    height: 600px;
}

.zero{
    flex-grow: 2;
}
